<div class="row mt-5">
  <div class="col-md-8">
    <select class="custom-select" id="filterSelector">
      <option value="99" selected>所有類別</option>
      <option value="0">家居物業</option>
      <option value="1">交通出行</option>
      <option value="2">休閒娛樂</option>
      <option value="3">餐飲娛樂</option>
      <option value="4">其他</option>
    </select>
  </div>
</div>

<div class="row mt-5 ">
  <div class="col-md-4 ">
    <div class="h3">總金額</div>
  </div>
  <div class="col-md-4 ">
    <div class="h2 text-danger" id="amountShow">{{recordAmount}}</div>
  </div>
</div>

<div id="recordShow">
  {{#each recordData}}
  <div class="row mt-3 border-bottom">

    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      {{{ getImage this.category }}}
    </div>

    <div class="col-6">
      <div>{{this.name}}</div>
      <div>{{this.date}}</div>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">{{this.amount}}</div>
    <div class="col-2  text-center align-items-center"
      style="display: flex; align-items: center; justify-content: center;">
      <a href="/record/edit/{{this._id}}" class="btn btn-info">修改</a>
    </div>
    <div class="col-2 text-center" style="display: flex; align-items: center; justify-content: center;">
      <form action="/record/delete/{{this._id}}" method="POST">
        <button class="btn btn-danger" type="submit"
          style="display: flex; align-items: center; justify-content: center;">刪除</button>
      </form>

    </div>

  </div>


  {{/each}}
</div>


<div class="row mt-5">
  <div class="col-md-7 text-center">
    <a href="/record/new" class="btn btn-secondary btn-block">新增支出</a>
  </div>
</div>

<script>
  const category_image = ['<i class="fas fa-home"></i>',
    '<i class="fas fa-shuttle-van"></i>',
    '<i class="fas fa-grin-beam"></i>',
    '<i class="fas fa-utensils"></i>',
    '<i class="fas fa-pen"></i>']
  const selector = document.querySelector('#filterSelector')
  const amountShow = document.querySelector('#amountShow')
  const recordShow = document.querySelector('#recordShow')
  selector.addEventListener('change', () => {
    const selectorValue = selector.value

    axios.get(`/record/filterData/${selectorValue}`)
      .then(resData => {
        recordShow.innerHTML = ''
        let money = 0
        for (let i = 0; i < resData.data.length; i++) {
          money += Number(resData.data[i].amount)
          recordShow.innerHTML += `
          <div class="row mt-3 border-bottom">

    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">
      ${category_image[resData.data[i].category]}
    </div>

    <div class="col-6">
      <div>${resData.data[i].name}</div>
      <div>${resData.data[i].date}</div>
    </div>
    <div class="col-1" style="display: flex; align-items: center; justify-content: center;">${resData.data[i].amount}</div>
    <div class="col-2  text-center align-items-center"
      style="display: flex; align-items: center; justify-content: center;">
      <a href="/edit/${resData.data[i]._id}" class="btn btn-info">修改</a>
    </div>
    <div class="col-2 text-center" style="display: flex; align-items: center; justify-content: center;">
      <form action="/delete/${resData.data[i]._id}" method="POST">
        <button class="btn btn-danger" type="submit"
          style="display: flex; align-items: center; justify-content: center;">刪除</button>
      </form>

    </div>

  </div>
          `
        }

        amountShow.innerHTML = money
      })
      .catch(error => {
        console.log(error)
      })


  })
</script>